<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/side.css">
    <link rel="stylesheet" href="/css/login.css">
    <script type="text/javascript">
        function togglemenu(){
            document.getElementById('sidebar').classList.toggle('active');
        }
    </script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand"><img class="menu" onclick="togglemenu()" src="https://cdn.imgbin.com/10/3/13/imgbin-computer-icons-widget-menu-button-menu-f4py2VpxeumgBbmMNfSKW56ZU.jpg" alt="menu">INTELLIGENT HOSPITAL SYSTEM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">logout</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>

    <div id="sidebar" class="navbar-brand">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">OP</a></li>
            <li><a href="/details">Patient's Data</a></li>
        </ul>
    </div>
<body>