<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">INTELLIGENT HOSPITAL SYSTEM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ADMIN</a>
                        </li>
                        <li>
                            <div class="d-flex">
                                <input class="form-control me-sm-2" type="text" placeholder="Search" />
                                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                            </div>
                        </li>
                    </ul>
                    &ensp;&ensp;
                    <form class="d-flex">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/login">LOGIN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">SIGN-IN</a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </nav>

        <div class="homebody">
            <h1>INTELLIGENT HOSPITAL SYSTEM</h1>
            <medium>
                Smart hospitals are hospitals which optimize, redesign and/or build new clinical processes, management systems and maybe even infrastructure, 
                all enabled by underlying digitized networking infrastructure of interconnected assets, to provide a valuable service or insight which was not 
                possible or available earlier, to achieve better patient care, experience and operational efficiency. Smart hospitals contain three important layers – data, 
                insight and access. s entities, which improves the quality of care.
            </medium>
        </div>

    </div>
</body>
</html>