<%- include('partials/header') %>

<div class="homebody">
    <h1>INTELLIGENT HOSPITAL SYSTEM</h1>
    <medium>
        Smart hospitals are hospitals which optimize, redesign and/or build new clinical processes, management systems and maybe even infrastructure, 
        all enabled by underlying digitized networking infrastructure of interconnected assets, to provide a valuable service or insight which was not 
        possible or available earlier, to achieve better patient care, experience and operational efficiency. Smart hospitals contain three important layers – data, 
        insight and access. s entities, which improves the quality of care.
    </medium>
</div>


<%- include('partials/footer') %>