<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="outlogin">
        <form action="/register" method="post">
        <fieldset>
        <legend>SIGN-IN PAGE</legend>

        <div class="form-group">
        <label class="col-form-label mt-4" for="inputDefault">Full Name</label>
        <input type="text" name="fullname" class="form-control" placeholder="Enter your Full Name" id="inputDefault" required/>
        </div>

        <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required/>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="type" class="form-label mt-4">Type</label>
            <select style="padding: 5px;" name="type" id="type" required>
                <option value="Select">Select</option>
                <option value="doctor">Doctor</option>
                <option value="patient">Patient</option>
            </select>
        </div>

        <div class="form-group">
        <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
        <input type="password" name="pass" class="form-control" id="exampleInputPassword1" placeholder="Password" required/>
        </div>

        <div class="form-group">
        <label for="exampleInputPassword1" class="form-label mt-4">Re-Enter Password</label>
        <input type="password" name="cpass" class="form-control" id="exampleInputPassword1" placeholder="Re-Enter Password" required/>
        </div>
            <br/><br/>
        <button type="submit" class="btn btn-outline-success">SIGN-IN</button>

        </fieldset>
        </form>
    </div>
</body>
</html>