.outlogin{
    width: 50vw;
    background-color: white;
    margin: auto;
    margin-top: 35px;
    padding: 60px 30px;
}
.homebody{
    padding: 30px;
}

.card{
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.txt{
    margin: 50px;
}
.bg{
    background-color:wheat;
}

.press{
    margin-top: 30px;
}

.he{
    margin: 120px;
}
